# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
*.cover

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binarys
nomad-driver-nspawn

# mkosi related files
**/.mkosi*/*
**/image/*

# systemd-nspawn related
*.lck

# Go version detection
.go114
.go115
.go117
